.error{
    color: red;
    font-weight: bold;
}
.remove-col-padding{
    padding: 0;
}.remove-col-padding-right{
    padding: 0;
    padding-left: 15px;
}
 .height-78{height: 78px;}
 .height-18{height: 18px;}
 .black{color: black}

